<h1><%= title %></h1>
<img src="public/images/dfmarin.jpg">
<p>Esta aplicación Web ha sido desarrollada por 
<a href="https://gplus.to/dfmarin">Diego Fernando Marin</a>, 
a partir del trabajo realizado en el MOOC 
<a href="https://www.miriadax.net/web/javascript-node-js">
Desarrollo de servicios en la Nube con HTML5, Javascript y node.js</a>.
</p>
